.diag {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 66%;

}

ion-icon {
   margin-top: 20%;
  font-size: 7em;

}

h2 {
  margin-top: 20% !important;
  font-weight: bold;
  font-size: 1em;

}

p {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-size: 0.9em;

}

.swiper-pagination-bullet-active {
  background: #C400FF;

}

.swiper-pagination {
  bottom: 30% !important;
}

#skip {
  position: absolute;
  bottom: 20%;
  width: 100%;
  background: none !important;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

#next {
  position: absolute;
  bottom: 25%;
  width: 100%;
  background: none !important;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}
